version: '3'

services:
  bot:
    build: .
    restart: unless-stopped
    volumes:
      - bot_data:/app/data
    environment:
      - NODE_ENV=production
      - TOKEN=${TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - GUILD_ID=${GUILD_ID}

volumes:
  bot_data: